# dependencies
/node_modules

# testing & coverage
/coverage
/.playwright-mcp/

# build outputs
/dist/
/dist-site/
/outputs/

# environment
.env*

# misc & logs
.DS_Store
*.pem
.pnpm-debug.log*
.vercel
